apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: calculator
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: calculator
    spec:
      containers:
      - name: calculator
        image: kenchenacrtest.azurecr.io/calculator:$tag
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: kenchenacrtest
